.pragmatic_header_logo{
    margin: 2rem 0;
    font-family: 'Zen Tokyo Zoo', cursive;
}

.pragmatic_header_button{
    margin-bottom:1.5rem;
}

.pragmatic_footer_logo{
    margin: 1.5rem 0;
    font-family: 'Bebas Neue', cursive;

}

.pragmatic_footer_button{
    margin-top:1.5rem;
}

.mw-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}

.round_button{
    color: black;
    text-decoration: none;
    box-shadow: 0px 3px 3px black;
    border-radius:20rem;
    padding:0.3rem;
}

.round_button:hover{
    color:dimgrey;
}

.article-content{
    font-size: 1.1rem;
    text-align: left;
}


.article-image{
    border-radius: 2rem;
    width: 65%;
    box-shadow: 0 0 1rem grey;
}

.comment_box{
    text-align:left;
    border: solid;
    border-color: #dcdcdc;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}